
#container{
    margin-left: 70px;
    
}

#newNoteButton{
    width: 120px;
    height: 41px;
    background-color: #b6dcfd;
    border-radius: 8em;
    margin-bottom: 5px;
    margin-top: 10px;
    margin-left: 300px;
}

 #noteList{
    background-color: #F0F8FF;
    width: 300px;
    height: 500px;
    border-color: black;
    border-style: solid;
    border-width: 1.3px; 
    float: left;
    }

#noteListHeader{
    height: 20px;
    padding-top: 8px;;
    padding-bottom: 10px;
    padding-left: 5px;
    border-bottom: 1px solid black;
    font-weight: bold;
    font-size: 18px;
    margin: 0;
  
}

ul{
    margin: 0px;
    padding: 0px;
    list-style-type: none; 
 }

.liBorders{
    margin: 0;

    border-bottom: 1px solid black;
    height: 40px;
}

.noteNameButton{
/*  
    width: 250px;
    height: 30px; */
    width: 100%;
        height: 100%;
    text-align: left;
    background-color:#F0F8FF;
   
}   

.activeNoteName{
    font-weight: bold;
    background-color: #76f3b5;

}  
#rightSection{
        
        width: 60%;
        height: 500px;
        border-color: black;
        border-style: solid;
        border-width: 0.05em;
        border-left: none; 
        font-size: 18px;
        resize: none;
    }
#clearFloat{
    clear:both;
    margin: 0;
}
    #userNote{
        margin-top: 0;
           }
    .button{
        margin: 0;
        
         /*
        float: right;
        position: relative;
        Nepravilno! right: 250px;
        bottom: 20px;
        width: 110px;
        height: 34px; */

        background-color:green;
        border-radius: 8em;
        font-weight: bold;
        font-size: 15px;
       }

    #buttonDelete{
        background-color: #fc4343e3;
        
    }
    #buttonSave{
        background-color:  #72b7f3;
        margin-right: 15px;
    }